# Логи и временные файлы
*.log
*.bak
*.tmp
*.swp
*.swo

# Резервные копии базы данных
*.sql
*.sql.gz
*.tar.gz

# Кэш
/var/cache/*
!/var/cache/.gitkeep

# Загрузки (оставить только структуру)
/download/*
!/download/.htaccess
/upload/*
!/upload/.htaccess
